

body{
    background: linear-gradient(#284081, #05061d);
}

ul {
  border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(33, 150, 243);
    position: fixed;
    bottom: 0;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(8, 47, 105);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(8, 47, 105);
}

.active {
    background-color:rgb(14, 108, 185);
}
.active:hover{
    background-color:rgb(8,47,105);
}

a{
    text-decoration: none;
    color: rgb(8, 47, 105);
}
a:hover{
    color: rgb(255, 255, 255);
}

#heading 

{
   text-align:left;
}

#cont2
{
   font-size: 20px ;
   color:rgb(240, 228, 228);
   text-shadow: 2px 2px 0px rgb(2, 2, 97);
}


.contactUs{
    text-shadow: 3px 3px 3px black;
    outline:2px dashed rgb(97, 63, 161);
    color:rgb(24, 24, 107); 
    font-size:50px;
    background-image: url('https://adcsuf.sharepoint.com/:i:/r/sites/Soft-Warehouse/Pictures/darkbg.jpg?csf=1&e=ns9ETr');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:center;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #creators{
      padding-top: 20px;
      padding-bottom:20px;
      color:rgb(207, 207, 207);
      font-size:30px;
      text-align:center;
      text-shadow: 3px 3px 3px black;
      font-weight:bold;
  }

  #listNames{
    color:rgb(171, 171, 199);
    font-size:25px;
    text-shadow: 3px 3px 3px black;

  }

  #inquiryLabel{
    text-decoration: underline;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align:center;
      font-size: 30px;
      color: rgb(207, 207, 207);
      text-shadow: 3px 3px 3px black;
  }
  #emailA{
      font-size: 25px;
      color: red;
      text-shadow: 3px 3px 3px black;
  }
  #emailB{
    text-indent:400px;
    font-size: 25px;
    color: rgb(48, 76, 136);
    text-shadow: 3px 3px 3px black;
}

#homePage{
    text-decoration:underline;
    color:rgb(131, 161, 47);
    font-size: 20px;
}
.copyRight{
    text-align:right;
    background-color: rgb(82, 77, 77);
}